body {
    
    color: #f7f7f7;
  }

.jumbotron {
    /* background-image: url(https://media-exp1.licdn.com/dms/image/C561BAQHrxN7ELDqjRg/company-background_10000/0/1553194455335?e=2159024400&v=beta&t=vBIjSWrhaL6osNLlbRmeGaq0atQPIAndFs_TsMZYgQM);*/
    background-image: url("./images/nasa.jpg");
    
    
    background-size: 100% 100%;
    text-align: center;
  }